body {
    background-image: linear-gradient(to bottom,#5CC5FF, #1B76A8);
    background-attachment: fixed;
    text-align: center;
}

header {
    color: white;
    background-image: linear-gradient(to top, #5CC5FF , #1B76A8);
    font: bold 60px Arial; ;
    border-bottom: 3px solid #1B76A8;
    background-attachment: fixed;
}

h1 {
    text-shadow: 0px 3px 7px rgb(0, 0, 0);
    text-align: center;
    color: rgb(243, 235, 235);
    background-attachment: fixed;
    padding: 40px 50px;
}

#res {
    text-align: center;
    padding: 30px 0px 0px 0px;
}

.sexo {
    font-weight: bold;
    padding: 0px 20px 0px 0px;
    text-align: center;
}

#ano {
    padding: 5px 0px 20px 0px;
    font-size: 50px;
    color:#42A5DC;
    text-shadow: 0px 1px 2px rgb(0, 0, 0);
    padding: 10px 2px;
}

#txtano {
    margin: 30px 0px 30px 50px;
    padding: 2px 80px;
    text-align: center;
}

.divi {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

section {
    background: #ffffff9d;
    border-radius: 10px;
    box-shadow: 7px 7px  10px rgba(0, 0, 0, 0.534);
    padding: 40px 0px 30px 0px;
    margin: 20px auto;
    width: 650px;
    height: auto;
}

footer p {
    color: #5CC5FF;
    text-align: center;
    font-style: italic;
    text-shadow: 0px 3px 3px rgb(0, 0, 0);
    padding: 20px 0px 20px;
}
